<!DOCTYPE hmtl>
<html lang="en">

<head>
  <title>CMS | Password Reset Successful</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    @import url('https://fonts.googleapis.com/css?family=Exo');
    @import url('https://fonts.googleapis.com/css?family=Exo|Playfair+Display');
    body {
      background: #f2f2f2;
    }

    .FMS-login {
      width: 300px;
      max-width: 100%;
      margin-top: 60px;
      font-family: 'Exo', sans-serif;
      text-align: center;
      margin: auto;
    }

    .FMS-logo {
      font-size: 80px;
      color: #787878;
      font-family: 'Playfair Display', serif;
      margin: 0;
    }

    @media screen and (max-width: 420px) {
      .FMS-logo {
        font-size: 135px;
      }
    }


    .FMS-description {
      letter-spacing: 1px;
      font-size: 12px;
    }

    .FMS-access {
      font-size: 13px;
    }

    .FMS-input {
      border-radius: 0;
      font-size: 14px;
      width: 100%;
      padding: 8px 10px;
      border: 1px solid #ccc !important;
    }

    .CMS-reset-btn {
      padding: 8px 16px;
      background: teal;
      color: #fff;
      border: none;
      margin-top: 20px;
      width: 100%;
      font-size: 16px;
      border-radius: 0;
      letter-spacing: 2px;
      font-family: 'Playfair Display', serif;
      cursor: pointer;
    }

    .FMS-about {
      font-family: cursive;
      font-size: 12px;
      color: #898989;
      margin-top: 25px;
    }
  </style>
</head>

<body>
<div class="FMS-login">
  <div>
    <h1 class="FMS-logo">My Joyride</h1>
    <p class="FMS-description">Taxi booking service providers</p>
    <h3>Password reset success</h3>
  </div>
  <div>
    <p>Your password has been reset successfully</p>
  </div>

  <div>
    <p class="FMS-about">myjoyride powered by Appwallaz</p>
  </div>

</div>

</body>

</html>
